.row.text-center
  %h2 Our Featured Vehicles
  %hr/
.row.vdp
  - vehicles.each do |vehicle|
    .col-md-4.vdp
      - if vehicle.photos?
        = link_to image_tag(vehicle.photos.first.thumb.url, class: 'thumbnail'), vehicle
      - else
        = link_to image_tag('no_image_available-thumb.jpeg', class: 'thumbnail'), vehicle
      %h5
        = "#{vehicle.year} #{vehicle.make} #{vehicle.model} #{vehicle.trim}"
      %p
        = "#{number_to_currency(vehicle.price)}"
      = link_to 'View Details', vehicle, class: 'btn btn-details btn-fill expaneded'

%hr/
.row.column.text-center
  - announcements.each do |announcement|
    %h3= announcement.title
    %p
      = announcement.body
    %hr
