.row
  = form_for [:admin, vehicle], url: admin_vehicle_photos_path(vehicle), method: :post, html: { multipart: true } do |photo_form|
    .col-md-8
      .card
        .header
          %h4.title Vehicle Photos
        .content
          .row
            - vehicle.photos.each_with_index do |image, index|
              .col-md-4.vdp
                = image_tag(image.thumb.url)
                .vdp
                  = link_to 'Delete', admin_vehicle_photo_path(vehicle, index),
                    class: 'btn btn-danger btn-fill btn-sm',
                    method: :delete,
                    data: { confirm: 'Are you sure you want to delete this image?' }
          .row.vdp
            .col-md-4
              %label 'Upload Photos'
              = photo_form.file_field :photos, multiple: true
            .col-md-4.pull-right
              = photo_form.submit 'Update Vehicle Photos', class: 'btn btn-info btn-fill pull-right'
.row
  = form_for [:admin, vehicle] do |form|
    .col-md-8
      .card
        .header
          %h4.title Edit Vehicle Information
        .content
          %form
            = render 'form', form: form
          .clearfix
            = form.submit 'Update Vehicle', class: 'btn btn-info btn-fill pull-right'
