.row.vdp
  .medium-6.medium-centered.large-4.large-centered.columns
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .row.column
        %h4.text-center Login using your email
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "off"
        - if devise_mapping.rememberable?
          = f.check_box :remember_me
          = f.label :remember_me
      %p
        = f.submit "Log in", class: "button expanded"
    = render "devise/shared/links"

-# .row
-#   .medium-6.medium-centered.large-4.large-centered.columns
-#     %form
-#       .row.column.log-in-form
-#         %h4.text-center Log in with you email account
-#         %label
-#           Email
-#           %input{:placeholder => "somebody@example.com", :type => "text"}/
-#         %label
-#           Password
-#           %input{:placeholder => "Password", :type => "text"}/
-#         %input#show-password{:type => "checkbox"}/
-#         %label{:for => "show-password"} Show password
-#         %p
-#           %a.button.expanded{:type => "submit"} Log In
-#         %p.text-center
-#           %a{:href => "#"} Forgot your password?
