%p
  = form.label 'Make'
  %br/
  = form.text_field :make
  -# = form.collection_select(:make_id, Make.all, :id, :name, {:prompt => true})
%p
  = form.label 'Model'
  %br/
  = form.text_field :model
%p
  = form.label 'Trim'
  %br/
  = form.text_field :trim
%p
  = form.label 'Year'
  %br/
  = form.text_field :year
%p
  = form.label 'Mileage'
  %br/
  = form.text_field :mileage
%p
  = form.label 'VIN'
  %br/
  = form.text_field :vin
%p
  = form.label 'Price'
  %br/
  = form.text_field :price
%p
  = form.label 'Exteriot Color'
  %br/
  = form.text_field :ext_color
%p
  = form.label 'Interior Color'
  %br/
  = form.text_field :int_color
%p
  = form.label 'Number of Doors'
  %br/
  = form.text_field :doors
%p
  = form.label 'Type of Interior'
  %br/
  = form.text_field :interior_type
%p
  = form.label 'Description'
  %br/
  = form.text_area :description
%p
  = form.label 'Sold'
  = form.check_box :sold
%p
  = form.label 'Used'
  = form.check_box :used
%p
  = form.label 'New'
  = form.check_box :new
%p
  = form.label 'Featured'
  = form.check_box :featured
#photos
