- if user_signed_in?
  .row.vdp
    .column
      %h3
        = link_to "Add Vehicle", new_vehicle_path, class: 'button success'
.row.small-up-2.large-up-4.vdp
  - vehicles.each do |vehicle|
    .column
      - if vehicle.photos?
        = link_to image_tag(vehicle.photos.first.large.url, class: 'thumbnail'), vehicle
      - else
        = link_to image_tag('no_image_available.jpeg', class: 'thumbnail'), vehicle
      %h5
        = "#{vehicle.year} #{vehicle.make} #{vehicle.model} #{vehicle.trim}"
      %p
        = "#{number_to_currency(vehicle.price)}"
      = link_to 'View Details', vehicle, class: 'button expaneded'
