.row
  .column
    %h1
      Add A New Vehicle
    = form_for vehicle, html: { multipart: true } do |form|
      = render 'form', form: form
      %p
        = form.label 'Upload Photos'
        = form.file_field :photos, multiple: true
      %p
        = form.submit 'Save Vehicle', class: 'success button'
