.row
  .medium-6.columns
    - if vehicle.photos?
      = image_tag vehicle.photos.first.large.url, class: 'thumbnail'
      .row.small-up-4
        - vehicle.photos.each do |photo|
          .column
            = image_tag photo.thumb.url, class: 'thumbnail'
    - else
      %h3 No Images Available

    .row
      .column
        %p
          = vehicle.description
  .medium-6.large-5.columns
    %h3
      = "#{vehicle.year} #{vehicle.make} #{vehicle.model} #{vehicle.trim}"
      = "#{number_to_currency(vehicle.price)}"
    .row
      .small-3.columns
        %h4 Details
    .row
      .small-6.columns
        %ul
          %li= "Mileage: #{vehicle.mileage}"
          %li= "Engine: #{vehicle.engine}"
          %li= "Transmission: #{vehicle.transmission}"
          %li= "Exterior Color: #{vehicle.ext_color}"
          %li= "Interior Color: #{vehicle.int_color}"
          %li= "VIN: #{vehicle.vin}"

    .row
      .small-3.columns

    %a.button.large.expanded{:href => "#"} Contact Us
