!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }

    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    %title= Settings.title? ? 'Easylot' : Settings.title

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag

  %body
    / Small Navigation
    .title-bar{ 'data-hide-for' => 'medium', 'data-responsive-toggle' => 'nav-menu' }
      %a.logo-small.show-for-small-only{ href: '#' }
        = image_tag 'new-logo.png'
      %button.menu-icon{ 'data-toggle' => '', type: 'button' }
      .title-bar-title Menu
    / Medium-Up Navigation
    %nav.top-bar#nav-menu
      .logo-wrapper.hide-for-small-only
        .logo
          = image_tag 'new-logo.png'
      / Left Nav Section
      .top-bar-left
        %ul.vertical.medium-horizontal.menu
          %li
            = link_to 'Home', root_path
          %li
            = link_to 'Inventory', vehicles_path
          %li
            %a{ href: '#' } Contact
      / Right Nav Section
      .top-bar-right
        .row
          %ul.menu
            - if user_signed_in?
              %li
                = link_to "Account Settings", edit_user_registration_path
              %li
                = link_to('Logout', logout_path, :method => :delete)
        %ul.menu
          %li
            %input{ placeholder: 'Search', type: 'search' }
          %li
            %button.button.hotrod{ type: 'button' } Search
    = yield

    = render 'shared/footer'
